@use "./../../variables.scss" as variables;

.Login {
    padding-top: 30px;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    border: 2px solid #ffF4;
    background-image: variables.$postBackground;

    &__Form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}