@use "./../../variables.scss" as variables;

.MenuItem {
    font-size: 1.2em;
    padding: 10px 20px;
    position: relative;
    top: +10px;

    &__Bottom {
        height: 6px;
        margin: 6px;
        background-image: variables.$textGradient2;
        border-radius: 1em;
        width: auto;
        visibility: hidden;
    }

    .MenuItem:hover>&__Bottom {
        visibility: visible;
    }
}