@use "./../../variables.scss" as variables;

.AllPhotos {
    @include variables.SearchContainer;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo {
    display: flex;
    min-width: 700px;
    align-items: center;
    flex-direction: column-reverse;
}