@use "./../../variables.scss" as variables;

.Menu {
    display: flex;
    border: 0px;

    a {
        color: variables.$primaryTextColor;
        text-decoration: none;
        outline: 0px;
    }
}