@use "./../../variables.scss" as variables;

.Logo {
    &__Text {
        font-size: 2rem;
        font-weight: 700;
        font-style: normal;
        line-height: 2.5rem;
        background-image: variables.$logoGradient;
        background-size: 100%;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        cursor: pointer;
    }
}