@use "../../variables.scss" as variables;
;

.Layout {
    // margin: 20px auto;
    // min-height: calc(100vh - 40px);

    margin: 0 auto;
    height: auto;
    min-height: 100vh;
    width: variables.$contentWidth;
    color: variables.$primaryTextColor;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 40px;
}