@use "../../variables.scss" as variables;

.Layout {
    margin: 0 auto;
    height: auto;
    min-height: 100vh;
    max-width: variables.$contentWidth;
    color: variables.$primaryTextColor;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0px 40px;
}