@use "./../../variables.scss" as variables;

.Post {
    background: variables.$postBackground;
    width: 480px;
    height: auto;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    transition: 0.4s;

    &>* {
        padding: 10px;
    }

    &:hover {
        box-shadow: 0px 0px 20px #FFF3;
    }

    &__Title {
        font-size: 1.35em;
        font-style: italic;
    }

    &__Body {
        line-height: 1.3em;
    }

    &__Comments>* {
        padding: 5px;
        color: variables.$light-gray;
    }

    &__Username {
        color: #9c9afa;
        font-weight: 600;
        display: flex;
        justify-content: space-between;
    }

    &__Delete {
        cursor: pointer;
    }
}