@use "./../../variables.scss" as variables;
/* Create random color for brands */
/* http://geoffgraham.me/randomize-sass */


.Post {
    background: variables.$postBackground;
    width: 240px;
    height: 320px;
    margin: 20px;
    border-radius: 20px;
    transition: 0.4s;

    &:hover {
        box-shadow: 0px 0px 20px #FFF3;
    }
}