@use "./../../variables.scss" as variables;
/* Create random color for brands */
/* http://geoffgraham.me/randomize-sass */


.Post {
    background: variables.$postBackground;
    width: 250px;
    height: 300px;
    margin: 10px;
    border-radius: 20px;
}