.Tabs {
    padding: 10px 0px;

    &__Select {
        width: 60%;
        margin: 0px auto 1.5em;
        display: flex;
        align-items: center;
        border: 1px solid #ac99ea;
        border-radius: 3em;
    }
}