.Post__Comment {

    &__Delete {
        cursor: pointer;
    }

    &__DeleteSign {
        font-size: 1.3em;
        color: #e666cc;
    }

    &__User {
        text-decoration: underline;
        color: #e6dfdf;
    }
}