@use "./../../variables.scss" as variables;

.Post__Comment {

    &__Delete {
        cursor: pointer;
    }

    &__DeleteSign {
        font-size: 1.3em;
        color: variables.$deleteSignColor
    }

    &__User {
        text-decoration: underline;
        color: variables.$postCommentEmailColor;
    }
}