$mainContainerColor: linear-gradient(45deg,
                #140939FF 0%,
                #140939FF 30%,
                #281558FF 60%,
                #702c77FF 100%);


$textGradient: linear-gradient(90deg, #9780E5 0%, #DE33BB 100%);
$textGradient2: linear-gradient(128.87deg, #9780e5 14.05%, #e666cc 89.3%);
$logoGradient: linear-gradient(#9780E5, #DE33BB);

$postBackground: linear-gradient(0deg,
                #1f1f1f80 0%,
                #33333380 100%);

$containerColor: #FFF1;
$primaryTextColor: #FFFF;
$gray: #FFF6;
$light-gray: #FFF9;
$submitFormButtonColor: #ac99eaff;

$contentWidth: 1160px;

@mixin HideScroll {
        // hidden scroll
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-y: scroll;

        &::-webkit-scrollbar {
                display: none;
        }
}

@mixin PositionToAllBaseView {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 0px;
        flex-wrap: wrap;
}

@mixin TitleHeader {
        font-size: 3em;
        font-weight: 700;
        font-style: normal;
        text-align: center;
        padding: 50px;
}