@use "./../../variables.scss" as variables;

.MyProfile {
    span {
        color: variables.$submitFormButtonColor;
    }

    &__Section {
        margin-top: 50px;
        color: #fffB;

        &:first-child {
            margin-top: 0px;
        }

        &__Title {
            font-size: 1.5em;
            color: #ffff;
            font-weight: 600;
        }
    }
}